<ion-navbar *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Humane</ion-title>
</ion-navbar>

<ion-searchbar
  [(ngModel)]="searchString"
  (ionInput)="onInput($event)"
  (ionClear)="cancel()"
  (ionAbort)="cancel()"
  debounce="500"
>
</ion-searchbar>

<ion-content>
  <div google-maps [events]="events" (markerClicked)="showDetail($event)"></div>
  <button (click)="openNewModal()" style="position: absolute; bottom: 20px; right: 20px;border-radius: 50%; width:70px;height: 70px;">
    <ion-icon name="add" style="font-size: 34px;"></ion-icon>
  </button>
</ion-content>