<ion-toolbar>
  <ion-buttons start>
    <button (click)="close()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-buttons>
  <ion-title>Registration</ion-title>
</ion-toolbar>
<ion-content>
  <form [ngFormModel]="form" id="register" (ngSubmit)="form.valid && form.value.tac">
    <ion-list>
      <ion-item *ngFor="let name of controlNames">
        <ion-label floating>{{name}}</ion-label>
        <ion-input [ngControl]="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Tags</ion-label>
        <ion-textarea rows="3" ngControl="tags"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label>Accept terms and conditions</ion-label>
        <ion-checkbox ngControl="tac"></ion-checkbox>
      </ion-item>
    </ion-list>
  </form>
</ion-content>
<ion-toolbar position="bottom">
  <button block for="register" [disabled]="!form.valid || !form.value.tac">Register</button>
</ion-toolbar>